upstream client {
  server client:${CLIENT_PORT};
}

upstream api {
  server api:${API_PORT};
}

upstream mongo {
  server mongo:${DB_PORT};
}

server {
  listen ${NGINX_PORT};

  location / {
      proxy_pass http://client;
  }
  
  location /api {
      rewrite /api/(.*) /$1 break;
      proxy_pass http://api;
  }

  location /mongo {
      rewrite /mongo/(.*) /$1 break;
      proxy_pass http://mongo;
  }
}
